@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {    
    font-size: 18px;
    background: hsl(240, 75%, 98%);
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

p {
    margin-left: 3%;
    margin-right: 3%;
    line-height: 1.5em;
}


.logo {
    height: 35px;
    width: 100px;
}

.top > li {
    list-style: none;
    display: inline;
    padding: 5px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Raleway', sans-serif;
    margin-top: 4%;
    color: hsl(243, 87%, 12%);
}


.sectionone {
    margin-top: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 15%;
    color: hsl(243, 87%, 12%) ;
}

.illustration {
    width: 274px;
    height: 203px;
    margin-bottom: 10%;
}

.info {
    display: flex;
    flex-direction: column;

}

.button {
    margin-top: 4%;
}

.sectiontwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
}

h2 {
    font-size: 1.3rem;
    color:  hsl(243, 87%, 12%);
}

.avis {
    width: 90%;
    height: 200px;
    background: white;
    margin-top: 10%;
    box-shadow: 5px 5px 10px hsla(0, 0%, 75%, 0.5);
    display: flex;
    flex-direction: column;
    max-width: 550px;
}

.avatar {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin-right: 5%;
}

.customer {
    display: flex;
    align-items: center;
    margin-left: 7%;
    margin-top: -5%;
}

.name {
    line-height: 1.4em;
}

.quotes {
    height: 20px;
    width: 20px;
    margin-left: 3%;
    margin-top: 3%;
}

.avis > p {
    margin-left: 3%;
    margin-right: 3%;
    color:  hsl(243, 87%, 12%);
}

footer {
    background: hsl(243, 87%, 12%);
    margin-top: 20%;
    color: white;
    display: flex;
    flex-direction: column;
}

.ulfooter > li {
    list-style: none;
    line-height: 1.9em;
}

.bottom {
    height: 57px;
    width: 150px;
    margin-left: 10%;
    margin-top: 10%;
}

.sectiontwo > p {
    color: hsl(170, 45%, 43%);
}

.button {
    color: white;
    background: hsl(224, 93%, 58%);
    border-style: none;
    font-weight: bold;
    height: 40px;
    border-radius: 10px;
}

.button:hover {
    transform : scale(1.1, 1.1)
}

#email {
    width: 300px;
    height: 40px;
}