@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {    
    font-size: 18px;
    background: hsl(240, 75%, 98%);
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

p {
    margin-left: 3%;
    margin-right: 3%;
    line-height: 1.5em;
    color: hsl(243, 87%, 12%);
}


.logo {
    height: 35px;
    width: 100px;
}

.top > li {
    list-style: none;
    display: inline;
    padding: 5px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    margin-top: 4%;
    margin-left: 2%;
    margin-right: 2%;
    color: hsl(243, 87%, 12%);
}

a {
  text-decoration: none;
  color: hsl(243, 87%, 12%);  
}

a:hover {
    color: gray;
}


.sectionone {
    margin-top: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 15%;
    color: hsl(243, 87%, 12%);
}

.illustration {
    width: 274px;
    height: 203px;
    margin-bottom: 10%;
}

.info {
    display: flex;
    flex-direction: column;

}

.button {
    margin-top: 4%;
}

.sectiontwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
}

h2 {
    font-size: 1.3rem;
    color:  hsl(243, 87%, 12%);
}

.avis {
    width: 90%;
    height: 200px;
    background: white;
    margin-top: 10%;
    box-shadow: 5px 5px 10px hsla(0, 0%, 75%, 0.5);
    display: flex;
    flex-direction: column;
    max-width: 550px;
}

.avatar {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin-right: 5%;
}

.customer {
    display: flex;
    align-items: center;
    margin-left: 4%;
    margin-top: -2%;
}

.name {
    line-height: 1.4em;
    margin-left: -2%;
}

.quotes {
    height: 20px;
    width: 20px;
    margin-left: 3%;
    margin-top: 3%;
}

.avis > p {
    margin-left: 3%;
    margin-right: 3%;
    color:  hsl(243, 87%, 12%);
}

footer {
    background: hsl(243, 87%, 12%);
    margin-top: 20%;
    color: white;
    display: flex;
    flex-direction: column;
}

.ulfooter {
    margin-left: 5%;
}

.ulfooter > li {
    list-style: none;
    line-height: 1.9em;
}

.ulfooter > li > a {
    text-decoration: none;
    color: white;
}

.ulfooter > li > a:hover {
    color: gray;
}


.bottom {
    height: 57px;
    width: 150px;
    margin-left: 5%;
    margin-top: 5%;
}

.sectiontwo > p {
    color: hsl(170, 45%, 43%);
}

.button {
    color: white;
    background: hsl(224, 93%, 58%);
    border-style: none;
    font-weight: bold;
    height: 40px;
    border-radius: 10px;
}

.button:hover {
    transform : scale(1.1, 1.1)
}

#email {
    width: 300px;
    height: 40px;
}

/* Responsive desktop */

@media screen and (min-width : 1630px) {
    header {
        margin-top: 2%;
    }

    .top > li {
        padding: 15px;
    }

    .illustration {
        float: right;
        width: 884px;
        height: 586px;
        margin-right: 10%;
        margin-top: -6%;
    }

    .sectionone {
        text-align: left;
        display: block;
        margin-top: 2%;
        margin-top: -5%; 
    }

    .info {
        display: inline-block;
        margin-left: 3%;
    }

    .button {
        width: 200px;
        margin-left: 8px;
    }

    h1, h2 {
        margin-left: 3%;
        font-size: 2.5rem;
    }

    .sectionone > p {
        max-width: 500px;
        line-height: 1.6rem;
        font-size: 1.2rem;
        color: hsl(243, 87%, 12%);
    }

    .sectiontwo {
        display: block;
        text-align: left;
        margin-top: 30%;
    }

    .sectiontwo > p {
        max-width: 500px;
        line-height: 1.6rem;
        font-size: 1.2rem;
        color: hsl(243, 87%, 12%);
    }

    .avis {
        margin-left: 3%;
        margin-top: 3%;
    }

    footer {
        display: flex;
        flex-direction: row;
        height: 400px;
        justify-content: space-around;
        align-items: center;
    }

    .bottom {
        margin-left: 10%;
        margin-top: -10%;
    }

    .ulfooter > li {
        line-height: 3em;
    }

}

/* Responsive tablette*/

@media screen and (min-width : 900px) and (max-width : 1629px) {
    header {
        margin-top: 2%;
    }

    .illustration {
        width: 480px;
        height: 343px;
        margin-bottom: 0;
    }

    .sectionone {
        margin-top: 10%;
    }

    h1 {
        margin-top: 5%;
    }

    .sectiontwo {
        margin-top: 8%;
    }

    h2 {
        margin-top: 5%;
    }

    .bottom {
        margin-left: 5%;
    }

}