@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {    
    font-size: 18px;
    background: hsl(240, 75%, 98%);
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.close {
    display: none;
}


h2 {
    color: hsl(243, 87%, 12%);
}

p {
    color: hsl(170, 45%, 43%);
    line-height: 1.5em;
}

.logo {
    height: 35px;
    width: 100px;
}

.top > li {
    list-style: none;
    display: inline;
    padding: 5px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    margin-top: 4%;
    margin-left: 2%;
    margin-right: 2%;
    color: hsl(243, 87%, 12%);
}

a {
  text-decoration: none;
  color: hsl(243, 87%, 12%);  
}

a:hover {
    color: gray;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    width: 90%;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px hsla(0, 0%, 75%, 0.5);
    text-align: center;
    margin-top: 15%;
}

.grow {
    width: 80%;
    margin-top: 5%;
}

.flowing {
    width: 80%;
    margin-top: 5%;
}

footer {
    background: hsl(243, 87%, 12%);
    margin-top: 20%;
    color: white;
    display: flex;
    flex-direction: column;
}

.ulfooter > li {
    list-style: none;
    line-height: 1.9em;
}

.ulfooter > li > a {
    text-decoration: none;
    color: white;
}

.ulfooter > li > a:hover {
    color: gray;
}


.bottom {
    height: 57px;
    width: 150px;
    margin-left: 10%;
    margin-top: 10%;
}

/* Responsive desktop*/

@media screen and (min-width : 1300px) {
    .cards {
        text-align: left;
    }

    .grow {
        float: right;
        width: 40%;
        margin-right: 3%;
        margin-bottom: 3%;
    }

    .flowing {
        float: left;
        width: 40%;
        margin-right: 3%;
        margin-bottom: 3%;
    }

    h2 {
        margin-top: 15%;
        margin-left: 3%;
    }

    .top > li {
        padding: 15px;
    }

    header {
        margin-top: 2%;
    }

    footer {
        display: flex;
        flex-direction: row;
        height: 400px;
        justify-content: space-around;
        align-items: center;
    }

    .bottom {
        margin-left: 10%;
        margin-top: -10%;
    }

    .ulfooter > li {
        line-height: 3em;
    }

    p {
        margin-left: 3%;
        margin-right: 3%;
    }

}

@media screen and (max-width :800px) {
    /* Menu Burger */

/* Sidenav menu */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #e8e8e8;
    padding-top: 60px;
    transition: left 0.5s ease;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #111;
  }
  
  /* Active class */
  .sidenav.active {
    left: 0;
  }
  
  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
}
